<div class="edit_asset_txt">
  <h1 class="edit_header">Editing asset</h1>
</ div>

<%= render "form", aset: @aset %>

<br>

<div class="show_back">
  <%= link_to "Show this aset", @aset, class: "this_back_text" %> |
  <%= link_to "Back to asets", asets_path, class: "this_back_text" %>
</div>
