body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgb(252, 252, 252);
}

.card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  padding: 16px;
  width: 300px;
}

.qrl_card {
  width: 150px;
}

.edit_asset_txt {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.creat_assets_form {
  display: flex;
  flex-direction: row;
  justify-content: center;

}

.form-control {
  width: 300px;
}

.sub_btn {
  width: 300px;
  height: 40px;
  margin-top: 10px;
  background-color: green;
  border-style: none;
  cursor: pointer;
  color: #fff;
  font-weight: 800;
}

.show_back {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 30px;
}

.edit_header {
  text-align: center;
}






/* Large screens */
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

/* Medium screens */
@media (min-width: 768px) and (max-width: 991px) {
  .container {
    max-width: 750px;
  }
}

/* Small screens */
@media (max-width: 767px) {
  .container {
    max-width: 100%;
    padding-left: 20px;
    padding-right: 20px;
  }
}
