/* Main container for the page */
.assets_main_back {
  display: flex;
  flex-direction: row;
  align-items: flex-center;
  justify-content: center;
}

/* Side navigation */
.sidenav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: #ffffff;
  width: 200px;
  padding: 20px;
  box-shadow: 2px 0 6px rgba(0, 0, 0, 0.1);
}

/* Main content */
.main_content {
  margin-left: 250px;
  padding: 20px;
  flex-grow: 1; /* to make the main content area take up the remaining space */
}

/* New asset button */
.new_asset {
  margin-top: 20px;
  text-align: center;
}

.new_asset_link {
  display: inline-block;
  background-color: #4CAF50;
  color: white;
  padding: 10px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  width: 100%;
}

/* Header */
.main_asset_h1 {
  font-size: 36px;
  margin-top: 0;
}

.header_line {
  height: 2px;
  background-color: #4CAF50;
  margin: 20px 0;
}

/* Asset cards */
.main_card_background {
  background-color: #fff;
  padding: 20px;
}

.assets_container {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}

.card {
  background-color: rgb(250, 249, 249);
  padding: 16px;
  border-radius: 10px;
  width: 350px;
  box-shadow: 2px 0 6px rgba(0, 0, 0, 0.1);
}

.creat_assets_form_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.creat_assets_form {
  display: flex;
  flex-direction: column;
  background-color: rgb(250, 249, 249);
  padding: 16px;
  border-radius: 10px;
  width: 350px;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 0 6px rgba(0, 0, 0, 0.1);
}

.form-control {
  width: 300px;
  height: 20px;
  padding-top: 5px;
}

.sub_btn {
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-decoration: none;
  margin-top: 10px;
  border-radius: 10px;
  background-color: #9db1ce;
  text-align: center;
  font-weight: 800;
  border: none;
  color: rgb(30, 30, 180);
  cursor: pointer;
}

.asset_card {
  width: calc(33.33% - 10px);
  margin-bottom: 20px;
  padding: 10px;
  background-color: #f2f2f2;
  border-radius: 5px;
}

.asset_title {
  font-weight: bold;
  margin-bottom: 10px;
}

.asset_description {
  margin-bottom: 10px;
}

.asset_timestamp {
  font-size: 12px;
  color: #999;
}

.show_aset_p {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.show_aset {
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-decoration: none;
  margin-top: 10px;
  border-radius: 10px;
  background-color: #9db1ce;
  text-align: center;
  font-weight: 800;
  color: rgb(30, 30, 180);
}

.show_aset:hover,
.sub_btn:hover {
  background-color: #abbeda;
}

.edit_header {
  text-align: center;
}

.this_back_text {
  text-decoration: none;
  text-align: center;
  font-weight: 800;
  color: rgb(30, 30, 180);
}

.show_back {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  gap: 30px;
  margin-top: 10px;
}

.edit_back_link {
  display: flex;
  flex-direction: row;
  gap: 40px;
  margin-top: 20px;
}

.edit_text_show {
  text-decoration: none;
  font-weight: 800;
  color: rgb(30, 30, 180);
}

.distory_asset {
  color: rgb(255, 255, 255);
  background-color: red;
  border: none;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
  font-weight: 800;
  cursor: pointer;
  margin-top: 10px;
}

.distory_asset:hover {
  background-color: rgb(245, 20, 20);
  cursor: pointer;
}

/* Media queries */
@media only screen and (max-width: 768px) {
  /* Modify the styles for screens with a maximum width of 768px */
  .assets_main_back {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .sidenav {
    position: static;
    width: 100%;
    height: 20px;
    margin-bottom: 20px;
    box-shadow: none;
    position: fixed;
    z-index: 10px;
  }

  .main_content {
    padding: 0;
    margin-left: 0;
    margin-top: 50px;
  }

  .assets_container {
    justify-content: center;
  }

  .asset_card {
    width: 100%;
  }
}
